= simple_form_for [current_user, @song_service ], html: { class: 'form-inline' } do |f|
  = f.error_notification message: flash[:alert]

  .controls.controls-row
    = f.input_field :band, input_html: { class: 'span3' }, placeholder: 'Band Name'
    = f.input_field :song, input_html: { class: 'span3' }, placeholder: 'Song Name'

  .controls
    = f.submit 'Add Song', class: 'add-song btn btn-success', disable_with: 'Creating...'
