= simple_form_for [ current_user, @band ] do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :songs, as: :check_boxes

  .form-actions
    = f.button :submit, class: 'btn btn-success'
    = link_to 'Cancel', user_bands_path(current_user), class: 'btn btn-inverse'
